.menuModal {
  top: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto;
  box-shadow: 0 12px 35px 0 rgb(16 39 112 / 25%);
  background-color: azure;
  display: block;
  height: 55%;
  width: 50%;
  border-radius: 5px;
}

.progress {
  justify-content: center;
  top: 0;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  align-content: stretch;
  position: fixed;
  height: 100%;
  align-items: center;
  margin: auto auto;
}