/** @format */

.workContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.canvasWrap {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.canvasBody {
  position: relative;
  width: 80%;
  max-width: 900px;
}

.canvasStageSelected {
  border-style: dashed;
  border-width: 2px;
  outline-width: 2.77777;
}

.fab {
  top: auto;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
  align-items: center;
  justify-content: center;
  transform: scale(1.25);
}

.imageComponent {
  cursor: grab;
}

.slider {
  display: flex;
  position: absolute !important;
  right: 0;
  top: 50%;
  bottom: 50%;
  width: 15% !important;
  margin-right: 10px;
  align-items: center;
  transform: translate(0px, -30rem);
}

@media screen and (max-width: 1024px) {
  .workContainer {
    flex-direction: column-reverse;
  }
}

/* 
Arrow & Hover Animation
Credits to: https://codepen.io/malavigne/pen/gMQGJd
*/
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: #000;
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}
polygon {
  fill: #000;
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}
